*{
	margin:0%;
	padding:0%;
	box-sizing:border-box;
}
html{
	font-size: 62.5%;
}
#main-div{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}
#player-body{
	box-shadow: 0px 0px 20px 1px red;
	border-radius: 2rem;
	padding: 1.5rem;
	height:45rem; 
	width: 30rem;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
}
#title-body{
	text-transform: capitalize;
}
h1{
	font-size: 2rem;
	margin-bottom: 0.5rem;
	letter-spacing: 0.3rem;
	font-weight: bold;
}
h4{
	font-size: 1rem;
	text-align: center;
}
img{
	border-radius: 50%;
	box-shadow:0px 0px 10px 1px red; 

}
#controls{
	width: 23rem;
	display: flex;
	justify-content: space-around;
	font-size: 2rem;
	margin-bottom: 1.5rem;
}
i{
	cursor: pointer;
}
i:hover{
	color: red;
}
#creater{
	display: flex;
	width: 23rem;
	justify-content: space-around;
	align-items: center;

}
hr{
	width: 8rem;
	height: 0.3rem;
	background: black;
}
.animate{
	animation:animation 3s linear infinite;
}
@keyframes animation{
	from{
     transform: rotate(0deg);
	}
	to{
     transform: rotate(360deg);
	}
}